In [2]:
import numpy as np
import pandas as pd
import datetime
import ast

In [31]:
data = pd.read_csv('movies_dataset.csv')
credits = pd.read_csv('credits.csv')

/tmp/ipykernel_117685/1919441361.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('movies_dataset.csv')

In [3]:
data.drop(["video","imdb_id","adult","original_title","poster_path", "homepage"],axis=1,inplace=True) #se eliminan las columnas que no seran usadas

In [4]:
data.dropna(subset=["release_date"], inplace=True) #se eliminan los valores nulos de release_date

In [5]:
data["release_date"] = pd.to_datetime(data["release_date"], format='%Y-%m-%d') #se intenta cambiar el formato a datetime

ValueError: time data "1" doesn't match format "%Y-%m-%d", at position 10394. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [6]:
invalid_dates = data[data["release_date"].apply(lambda x: x.__len__() < 10)] #se encuentran los valores que generan prroblemas
invalid_dates

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
19730,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...",1997-08-20,104.0,Released,NaN,False,6.0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...",2012-09-29,68.0,Released,NaN,False,7.0,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...",2014-01-01,82.0,Released,Beware Of Frost Bites,False,4.3,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data = data[data["release_date"].apply(lambda x: x.__len__() == 10)] #se eliminan los valores ya que le faltan columnas importantes como el idioma

In [32]:
credits.drop(19730, inplace=True)
credits.drop(29503, inplace=True)
credits.drop(35587, inplace=True)

In [8]:
data["release_date"] = pd.to_datetime(data["release_date"], format='%Y-%m-%d') #se cambia el formato a datetime

In [9]:
data["release_year"] = pd.DatetimeIndex(data["release_date"]).year #se crea la columna release_year

In [10]:
data.iloc[:,1] = data.iloc[:,1].apply(lambda x: int(x))         #al convertirse todo a int no hay nulos
data["revenue"] = data["revenue"].apply(lambda x: int(x))

In [11]:
lista = []
x = data.budget.tolist()
y = data.revenue.tolist()
for a in range(0,y.__len__() ) :
    if x[a] == 0 or y[a] == 0:            #se verifica que ninguna de las variables sea 0 antes de calcular. se asigna 0 en caso de que si
        lista.append(0)                   
    else:
        lista.append(y[a] / x[a])

In [12]:
data["return"] = lista        #se crrea la columna return = data.iloc[:,1].apply(lambda x: int(x))

In [13]:
anidado = data["belongs_to_collection"].to_list()  #se pasan los datos de la columna anidada a una variable para luego dejar la informacion relevante

collection_id = []                                 #guardo solo las id para facilitar el acceso proximamente y ahorrar espacio
for x in range(0,anidado.__len__()):
    if anidado[x] == anidado[x]:
        dicc = ast.literal_eval(anidado[x])
        collection_id.append(dicc["id"])
    else:
        collection_id.append(None)            #las id nulas se convierten en None

In [14]:
anidado = data["spoken_languages"].to_list()

iso_list = []
iso_639_1 = []
for x in range(0,anidado.__len__()):
    if anidado[x] == anidado[x]:
        dicc = ast.literal_eval(anidado[x])
        for l in range(0,len(dicc)):                    #segundo for para las multiples variables
            iso_list.append(dicc[l]["iso_639_1"])
        iso_639_1.append(iso_list)
        iso_list = []
    else:
        iso_639_1.append(None)

In [15]:
anidado = data["production_countries"].to_list()

iso_list = []
iso_3166_1 = []
for x in range(0,anidado.__len__()):
    if anidado[x] == anidado[x]:
        dicc = ast.literal_eval(anidado[x])
        for l in range(0,len(dicc)):
            iso_list.append(dicc[l]["iso_3166_1"])
        iso_3166_1.append(iso_list)
        iso_list = []
    else:
        iso_3166_1.append(None)

In [16]:
anidado = data["production_companies"].to_list()

id_list = []
company_id = []
for x in range(0,anidado.__len__()):
    if anidado[x] == anidado[x]:
        dicc = ast.literal_eval(anidado[x])
        for l in range(0,len(dicc)):
            id_list.append(dicc[l]["id"])
        company_id.append(id_list)
        id_list = []
    else:
        company_id.append(None)

In [17]:
anidado = data["genres"].to_list()

id_list = []
genre_id = []
for x in range(0,anidado.__len__()):
    if anidado[x] == anidado[x]:
        dicc = ast.literal_eval(anidado[x])
        for l in range(0,len(dicc)):
            id_list.append(dicc[l]["id"])
        genre_id.append(id_list)
        id_list = []
    else:
        genre_id.append(None)

In [18]:
data["genres"] = pd.Series(genre_id)
data["production_companies"] = pd.Series(company_id)
data["production_countries"] = pd.Series(iso_3166_1)
data["spoken_languages"] = pd.Series(iso_639_1)
data["belongs_to_collection"] = pd.Series(collection_id)

In [19]:
data.to_csv("movies_transformed.csv")

In [33]:
credits.to_csv("credits_transformed.csv")